black==21.5b1
catboost==0.26.1
flake8>=3.7.9, <4.0
ipython~=7.10
isort~=5.0
kedro==0.17.5
kedro-telemetry~=0.1.0
nbstripout~=0.4
nflows
ninja
ngboost==0.3.12
plotly==4.14.3
properscoring==0.1.0
pyarrow~=10.0.1
pytest-cov~=2.5
pytest-mock>=1.7.1, <2.0
pytest~=6.2
seaborn~=0.12.2
scikit-learn==0.24.2
torch==1.11.0
torchdiffeq==0.1.1
xgboost==1.4.2
wheel>=0.35, <0.37
